{#
/**
 * @file
 * Default theme implementation to embed a JwPLayer url.
 *
 * Available variables:
 * - width: The width of the iframe.
 * - height: The height of the iframe.
 * - allowautoplay: Variable for Auto Play
 * - allowfullscreen: Variable for Full Screen
 * - source: Source URl for JwPLayer
 *
 * @see template_preprocess_media_soundcloud_embed()
 *
 * @ingroup themeable
 */
#}
{# <iframe frameborder="0" width="{{ width }}" height="{{ height }}" src="{{ source }}" {{ allowfullscreen }}></iframe> #}
<div class="media_video"><script src="{{ source }}" ></script></div>
